Source: tvoeradio-desktop
Section: misc
Priority: extra
Maintainer: Evgeniy Kirov <evg.kirov@gmail.com>
Build-Depends: debhelper (>= 8.0.0), qt-sdk, libqxt-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/tvoeradio-desktop.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/tvoeradio-desktop.git;a=summary

Package: tvoeradio-desktop
Architecture: any
Depends: libqtwebkit4, libqxt-gui0
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
